.about {
  padding: 27px 9.375% 10px;
}
.about__features-item {
  position: relative;
  padding: 60px 0 0px;
  margin-bottom: 23px;
  @include font-sans-bold(17px, 20px);
  background: transparent url("../img/icon-feature-1.svg") no-repeat 8px 6px;
  &--eco {
    background: transparent url("../img/icon-feature-1.svg") no-repeat 8px 6px;
  }
  &--price {
    background: transparent url("../img/icon-feature-3.svg") no-repeat 0 6px;
  }
  &--likes {
    background: transparent url("../img/icon-feature-5.svg") no-repeat 7px 11px;
  }
  &--handmade {
    background: transparent url("../img/icon-feature-2.svg") no-repeat 3px 9px;
  }
  &--native {
    background: transparent url("../img/icon-feature-4.svg") no-repeat 0 10px;
  }
  &--wrap {
    background: transparent url("../img/icon-feature-6.svg") no-repeat 3px 8px;
  }
}
.about__title {
  margin-bottom: 26px;
}
@media #{$tablet-widths} {
  .about {
    padding: 45px 6.51% 31px;
  }
  .about__title {
    margin-left: -5px;
    margin-bottom: 44px;
  }
  .about__features {
    display: flex;
    flex-wrap: wrap;
  }
  .about__features-item {
    width: 50%;
    padding: 58px 0 0px;
    margin-bottom: 49px;
    font-size: 20px;
    line-height: 24px;
    &--eco {
      order: -4;
    }
    &--handmade {
      order: -3;
    }
    &--price {
      order: -2;
    }
    &--native {
      order: -1;
    }
  }
}
@media #{$desktop-widths} {
  .about {
    padding: 57px 0 38px;
  }
  .about__wrapper {
    max-width: 1050px;
    margin: 0 auto;
  }
  .about__title {
    padding: 0 16.6%;
    letter-spacing: -0.4px;
  }
  .about__features {
    padding: 0 16.6%;
  }
}
