.catalog {
  padding: 15px 9.375%;
}

@media #{$tablet-widths} {
  .catalog {
    padding: 52px 6.51% 26px;
  }
}
@media #{$desktop-widths} {
  .catalog {
    padding: 0;
  }
  .catalog__wrapper {
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 131px 0 7px;
  }
}
