.logo {
  cursor: pointer;
  img {
    display: block;
    width: 86px;
    height: 35px;
    pointer-events: none;
    background: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

  }
}
.logo:hover {
  opacity: 0.6;
}
.logo:active {
  opacity: 0.3;
}
@media #{$tablet-widths} {
  .logo {
    img {
      width: 113px;
      height: auto;
    }
  }
}
@media #{$desktop-widths} {
  .logo {
    img {
      width: 149px;
      height: auto;
    }
  }
}
