.main-nav--closed .main-nav__toggle {
  position: absolute;
  top: 40px;
  right: 9.375%;
  transform: translate(9px, -50%);
  @include size(40px, 40px);
  @include btn-res;
  font-size: 0;
  z-index: 5;
  cursor: pointer;
  &::before{
    @include ps-el(20px, 2px, #221f1f);
    top: 18px;
    right: 10px;
    box-shadow: 0 6px 0 0 #221f1f,
                0 -6px 0 0 #221f1f;
  }
  &::after {
    display: none;
  }
}
.main-nav {
  position: relative;
}
.main-nav--opened .main-nav__toggle {
  position: absolute;
  top: 40px;
  right: 9.375%;
  transform: translate(9px, -50%);
  @include size(40px, 40px);
  @include btn-res;
  font-size: 0;
  z-index: 5;
  cursor: pointer;
  &::before,
  &::after {
    @include ps-el(27px, 2px, #221f1f);
    top: 18px;
    right: 6px;
    transform: rotate(43deg);
  }
  &::after {
    transform: rotate(-43deg);
  }
}
.main-nav__sub-list {
  display: none;
}
.main-nav__item {
  position: relative;
  padding: 0 9.375%;
  background: #fff;
  a {
    display: block;
    padding: 26px 20px 29px 17.307%;
    @include font-sans-bold (17px, 24px);
    letter-spacing: 0.1px;
  }
  &::after {
    @include ps-el(100%, 1px, #ececec);
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
  }
  &--logo {
    position: relative;
    padding: 21px 9.375% 23px;
    border-top: 1px solid #ececec;
    text-align: center;
    a {
      @include ib();
      padding: 0;
    }
  }
  a:hover {
    color: rgba(#000, 0.6);
  }
  a:active {
    color: rgba(#000, 0.3);
  }
}
.main-nav__icon-link{
  svg {
    fill: rgba(#000, 0.2);
    pointer-events: none;
  }
  &:hover {
    svg {
      fill: #63d1bb;
      opacity: 1;
    }
  }
  &:active {
    svg {
      fill: #63d1bb;
      opacity: 0.3;
    }
  }
}
.main-nav__icon-link {
  position: relative;
  svg {
    position: absolute;
    left: 2px;
    top: 30px;
  }
  &--cart {
    svg {
      left: 0px;
      top: 30px;
    }
  }
}
@media #{$mobile-widths-only} {
  .main-nav--closed .main-nav__list {
    display: none;
  }
  .main-nav--closed .main-nav__user-block {
    display: none;
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__list {
    display: block;
  }
  .main-nav--nojs .main-nav__user-block {
    display: block;
  }
  .main-nav--opened {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 3;
  }
  .main-nav--nojs {
    position: static;
  }
}
@media #{$tablet-widths} {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
  }
  .main-nav__list {
    position: absolute;
    bottom: -60px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-right: 237px;
    order: -1;
    background: transparent;
    li {
      background: transparent;
    }
  }
  .main-nav__user-block {
    display: flex;
    width: 75%;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    order: -2;
    text-align: right;
  }
  .main-nav__item {
    padding: 18px 0;
    margin-right: 35px;
    background: #fff;
    &::after {
      display: none;
    }
    a {
      display: block;
      padding: 0;
      margin: 0;
      font-size: 15px;
    }
  }
  .main-nav__item--with-icon {
    padding: 32px 0px 32px;
    margin-right: 0;
    border-left: 1px solid #ececec;
    a {
      font-size: 17px;
    }
  }
  .main-nav__icon-link {
    position: relative;
    svg {
      top: 4px;
      left: 40.24%;
    }
    &--cart {
      svg {
        left: auto;
        right: 80.30%;
      }
    }
  }
  .main-nav__item--cart {
    width: 52.694%;
  }
  .main-nav__item--search {
    width: 16.6%;
    a {
      text-indent: -99999px;
      text-align: left;
    }
  }
  .main-nav__item--logo {
    width: 25%;
    padding: 22px 0 14px;
    margin-right: auto;
    text-align: left;
    order: -3;
    border-top: none;
    a {
      @include ib();
    }
  }
  .main-nav__toggle {
    display: none;
  }
}
@media #{$desktop-widths} {
  .main-nav {
    align-items: flex-start;
  }
  .main-nav__list {
    position: static;
    width: 40.952%;
    padding-right: 0;
    order: -4;
    a {
      font-size: 17px;
    }
    &::after {
      display: none;
    }
  }
  .main-nav__user-block {
    width: 40.952%;
  }
  .main-nav__item {
    margin-right: 0;
    &--desktop {
      padding: 32px 0px 32px;
      &:nth-child(odd) {
        width: 42.79%;
      }
      &:nth-child(even) {
        width: 57.21%;
        padding-left: 35px;
        border-left: 1px solid #ececec;
      }
    }
  }
  .main-nav__item--logo {
    width: 16.19%;
    padding: 9px 0 6px;
    margin: 0 auto;
    text-align: center;
  }
  .main-nav__item--cart {
    width: 61.86%;
  }
  .main-nav__item--search {
    width: 19.5%;
    text-align: center;
  }
  .main-nav__sub-list {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-right: 59.047%;
    &::after {
      display: none;
    }
  }
  .main-nav__item--sub-list {
    padding: 18px 0;
    &:nth-child(even) {
      border-left: none;
    }
    background: transparent;
  }
}
