.order {
  padding: 23px 0;
}
.order__form {
  position: relative;
}
.order__desc {
  padding: 0 9.375%;
  margin-bottom: 22px;
  font-size: 13px;
  line-height: 24px;
}
.order__form-group {
  position: relative;
  padding: 37px 9.375% 20px;
  border-top: 1px solid #000;
  border: none;
  &::before {
    @include ps-el(81.25%, 1px, #63d1bb);
    top: 9px;
    right: 9.375%;
    z-index: -1;
  }
  input[type="radio"],
  input[type="checkbox"] {
    display: none;
  }
  &--color {
    padding: 32px 9.375% 20px;
  }
  &--fullname {
    padding: 46px 9.375% 18px;
  }
  &--contacts {
    padding: 11px 0 31px;
    margin: 0 9.375%;
    overflow: hidden;
    &::before {
      display: none;
    }
  }
  &--additional {
    padding: 42px 9.375% 16px;
  }
}
.order__group-name {
  position: absolute;
  top: 0;
  display: block;
  min-width: 23.846%;
  min-width: 62px;
  padding-right: 20px;
  z-index: 1;
  @include font-sans-bold(17px, 17px);
  text-transform: uppercase;
  background: #fff;
  color: #63d1bb;
}
.order__form-label {
  position: relative;
  @include ib();
  padding: 15px 0 15px 23.846%;
  @include font-sans-bold(17px, 18px);
  &::before {
    @include ps-el(40px, 40px);
    left: 0;
    top: 3px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px #444;
    cursor: pointer;
  }
  &--color {
    padding: 22px 0 21px 23.846%;
    &::before {
      border-radius: 0;
      top: 11px;
    }
  }
  &:hover::before {
    box-shadow: inset 0 0 0 2px #62d1ba;
  }
  &:active::before {
    box-shadow: inset 0 0 0 2px rgba(#444, 0.3);
  }
}
.order__form-group {
  input[type="checkbox"]:checked + .order__form-label {
    &::after {
      @include ps-el(19px, 9px);
      left: 9px;
      border: 2px solid #444;
      border-top: none;
      border-right: none;
      transform: rotate(-45deg);
      cursor: pointer;
    }
  }
  input[type="radio"]:checked + .order__form-label {
    &::after {
      @include ps-el(16px, 16px, #62d1ba );
      left: 12px;
      top: 15px;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}

.order__input-block {
  margin-bottom: 22px;
  &--type {
    margin: 0;
  }
  &--color {
    margin: 0;
  }
  &--contacts {
    position: relative;
    margin-bottom: 30px;
    svg {
      position: absolute;
      top: 36px;
      right: 8px;
      opacity: 0.2;
    }
  }
  &--mail {
    svg {
      right: 4px;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.order__input-icon {
  display: inline;
  position: absolute;
  top: 0;
  right: 0;
}
.order__input-title {
  display: block;
  margin-right: 24px;
  @include font-sans-bold(17px, 18px);
  &--colored {
    position: relative;
    padding-right: 20px;
    margin-bottom: 7px;
    text-transform: uppercase;
    color: #63d1bb;
     &::after {
       @include ps-el(100%, 1px, #62d1ba);
       position: absolute;
       top: 9px;
       margin-left: 30px;
     }
  }
}
.order__input-text {
  width: 100%;
  padding: 15px 10px 18px 0;
  margin-bottom: 22px;
  height: 52px;
  outline: none;
  border: none;
  font-size: 17px;
  line-height: 18px;
  box-shadow: inset 0 -2px 0 0 #000;
  &:last-child {
    margin-bottom: 0;
  }
  &--contacts {
    padding-right: 40px;
    margin: 0;
  }
  &--textarea {
    display: block;
    padding: 16px 10px 18px 16px;
    box-shadow: inset 0 0 0 2px #000;
    overflow: hidden;
    min-height: 142px;
  }
  &:hover:not(textarea),
  &:focus:not(textarea) {
    box-shadow: inset 0 -2px 0 0 #62d1ba;
  }
  &--textarea:hover,
  &--textarea:focus {
    box-shadow: inset 0 0 0 2px #62d1ba;
  }
}
.order__form-text {
  display: block;
  padding: 0 9.375%;
  margin-bottom: 31px;
  font-size: 14px;
  line-height: 16px;
}
.order__input-text--contacts:hover + svg,
.order__input-text--contacts:focus + svg {
  fill: #62d1ba;
  opacity: 1;
}
@media #{$tablet-widths} {
  .order {
    padding: 72px 0 63px;
  }
  .order__desc {
    padding: 0 6.51%;
    font-size: 17px;
    line-height: 30px;
  }
  .order__form-group {
    padding: 37px 6.51%;
    &::before {
      display: none;
    }
    &--type {
      padding: 37px 6.51% 26px;
    }
    &--color {
      padding: 50px 6.51% 26px;
      background: #f1f1f1;
    }
    &--fullname {
      padding: 50px 6.51% 50px;
    }
    &--contacts {
      padding: 50px 6.51% 50px;
      margin: 0;
      background: #f1f1f1;
    }
    &--additional {
      padding: 50px 6.51% 62px;
    }
  }
  .order__form-container {
    display: flex;
    flex-shrink: 0;
  }
  .order__group-content {
    width: 75%;
  }
  .order__form-label {
    padding: 14px 0 14px 15.968%;
    margin-bottom: 28px;
    font-size: 19px;
    line-height: 19px;
    &::before {
      @include ps-el(52px, 52px);
      left: 0;
      top: 0;
      border-radius: 50%;
      box-shadow: inset 0 0 0 2px #444;
      cursor: pointer;
    }
    &--color {
      padding: 15px 0 14px 33.5%;
      &::before {
        width: 54px;
        border-radius: 0;
        top: 0;
      }
    }
  }
  .order__form-group {
    input[type="radio"]:checked + .order__form-label {
      &::after {
        @include ps-el(22px, 22px, #62d1ba );
        left: 15px;
        top: 15px;
        border-radius: 50%;
      }
    }
    input[type="checkbox"]:checked + .order__form-label {
      &::after {
        @include ps-el(27px, 14px);
        left: 12px;
        border: 2px solid #444;
        border-top: none;
        border-right: none;
        transform: rotate(-45deg);
        cursor: pointer;
      }
    }
  }
  .order__group-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &--fullname {
      display: block;
    }
  }
  .order__group-name {
    @include ib();
    width: 25%;
    padding: 14px 0;
    position: static;
    background: transparent;
    &--color {
      padding: 15px 1px;
    }
    &--fullname {
      padding: 16px 1px;
    }
    &--additional {
      padding: 16px 1px;
    }
  }
  .order__input-block {
    display: flex;
    align-items: baseline;
    margin-bottom: 24px;
    &--type {
      display: block;
      width: 100%;
      margin-bottom: 0;
    }
    &--color {
      display: block;
      width: 47.704%;
      margin-bottom: 0;
    }
    &--contacts {
      margin-bottom: 24px;
      svg {
        top: 11px;
        right: 26px;
      }
    }
    &--mail {
      svg {
        right: 22px;
      }
    }
  }
  .order__input-text {
    padding: 14px 18px 18px 18px;
    font-size: 19px;
    line-height: 19px;
    background: transparent;
    &--contacts {
      width: 75%;
    }
    &--textarea {
      width: 75%;
      padding: 15px 18px 18px 18px;
    }
  }
  .order__input-title {
    font-size: 19px;
    line-height: 19px;
    &--colored {
      width: 25%;
      margin-right: 0;
      font-size: 17px;
      line-height: 17px;
      &::after {
        display: none;
      }
    }
  }
  .order__form-text {
    margin: 0;
    margin-left: auto;
    margin-right: 6.51%;
    padding: 0;
    text-align: right;
    font-size: 17px;
    line-height: 30px;
  }
}
@media #{$desktop-widths} {
  .order__input-title {
    &--colored {
      width: 20%;
      padding-right: 11px;
      padding-left: 7.085%;
    }
  }
  .order__input-text {
    &--contacts {
      width: 80%;
    }
    &--textarea {
      width: 66.666%;
    }
  }
  .order {
    padding: 124px 0 63px;
  }
  .order__form-container {
    position: relative;
    max-width: 1050px;
    margin: 0 auto;
  }
  .order__contacts-wrapper {
    max-width: 1050px;
    margin: 0 auto;
  }
  .order__form-group {
    padding: 61px 0;
    &--type {
      padding: 59px 4.347% 23px;
    }
    &--color {
      padding: 50px 4.347% 26px;
    }
    &--fullname {
      padding: 50px 4.347% 50px;
    }
    &--contacts {
      padding: 50px 4.347% 50px;
    }
    &--additional {
      padding: 50px 4.347% 58px;
    }
  }
  .order__desc {
    width: 1050px;
    padding: 0 175px;
    margin: 0 auto;
  }
  .order__group-name {
    width: 16.667%;
    padding-right: 10px;
    text-align: center;
  }
  .order__group-content {
    width: 83.333%;
    &--type {
      flex-direction: column;
    }
    &--color {
      justify-content: flex-start;
    }
  }
  .order__form-label {
    padding: 13px 0 16px 9.142%;
    &--type {
      margin-bottom: 28px;
      padding: 13px 0 16px 11.5%;
    }
    &--color {
      padding: 15px 0 14px 30.5%;
      &::before {
        @include ps-el(54px, 52px);
      }
    }
  }
  .order__input-block {
    width: 80%;
    &--color {
      width: 29.942%;
    }
    &--contacts {
      width: 83.333%;
      svg {
        top: 10px;
        right: 9px;
      }
    }
    &--mail {
      svg {
        right: 5px;
      }
    }
  }
  .order__form-text {
    margin: 0 16.66% 0 auto;
  }
}
