.page-header {
  position: relative;
  z-index: 5;
}
.page-header__text {
  display: none;
}
@media #{$mobile-widths-only} {
  .page-header {
    min-height: 80px;
  }
}
@media #{$tablet-widths} {
  .page-header {
    position: relative;
    padding: 0 6.51%;
    &::after {
      @include ps-el(100%, 1px, #e7e7e7);
      left: 0;
      right: 0;
    }
  }
  .page-header__text {
    display: block;
    position: absolute;
    bottom: -42px;
    right: 6.51%;
    @include font-sans(15px, 24px);
  }
}
@media #{$desktop-widths} {
  .page-header {
    position: relative;
    padding: 0;
  }
  .page-header__text {
    right: 0;
  }
  .page-header__wrapper {
    position: relative;
    max-width: 1050px;
    margin: 0 auto;
  }
}
