.products__header {
  padding: 70px 0 0;
  min-height: 282px;
  background: #f9f9f9 url("../img/hero-mobile@1x.jpg") no-repeat left 50% top -18px;
  @media #{$retina} and #{$mobile-widths} {
    background:  url("../img/hero-mobile@2x.jpg") no-repeat 50% -18px;
    background-size: 575px auto;
  }
}
.products__title {
  margin: 0 auto 122px;
  text-align: center;
  width: 81.25%;
  min-height: 90px;
}
.products__link {
  position: relative;
  display: block;
  padding: 26px 9.375% 29px 9.375%;
  font-size: 0;
  background: #63d1bb;
  color: #fff;
  cursor: pointer;
  span {
    @include ib();
    width: 130px;
    width: 40.625%;
    @include font-sans-bold(19px, 24px);
  }
  &::after {
    @include ps-el(62px, 62px);
    position: absolute;
    top: 50%;
    right: 9.375%;
    transform: translate(0, -48%);
    opacity: 0.5;
    background: transparent url("../img/icon-interior.svg") no-repeat right 7px top 0;
  }
  &--toys {
    &::after {
      transform: translate(3px, -50%);
      background: transparent url("../img/icon-toy.svg") no-repeat right 0 top 0%;
    }
  }
  &:nth-of-type(even) {
    background: #56c3b2;
  }
  &:hover {
    background: #59d5bc;
    &::after {
      opacity: 0.8;
    }
  }
  &:active {
    background: #59d5bc;
    &::after, span {
      opacity: 0.3;
    }
  }
  &:hover:nth-of-type(even) {
    background: #46c1ae;
  }
}
.products__link--toys {
  img {
    transform: translate(4px, -53%);
  }
}
.products__item-describe {
  margin-bottom: 18px;
  @include font-sans(15px,24px);
}
.products__item-wrapper {
  display: flex;
  flex-direction: column;
}
.products__item {
  position: relative;
  padding: 27px 9.375% 42px;
  &::after {
    @include ps-el(100%, 7px);
    bottom: 0;
    left: 0;
    background: transparent url("../img/bg-zigzag-line.svg") repeat-x 50% 50%;
    background-size: auto 7px;
  }
  &--best {
    .products__item-name {
      position: relative;
      padding-bottom: 48px;
      margin-bottom: 0;
      &::after {
        content: "Товар недели";
        position: absolute;
        width: 140px;
        left: 0;
        bottom: 25px;
        @include font-sans-bold(16px, 16px, #63d1bb);
        letter-spacing: 0.6px;
        text-transform: uppercase;
      }
    }
  }
}
.products__item-name {
  position: relative;
  margin-bottom: 7px;
}
.products__item-properties {
  display: table;
  width: 100%;
  margin-bottom: 28px;
  border-collapse: collapse;
  ul {
    position: relative;
    display: table-row;
    border-bottom: 1px solid #ececec;
  }
  li {
    display: table-cell;
    padding: 9px 0 10px;
    line-height: 20px;
    &:first-child {
      width: 37.692%;
    }
  }
}
.products__item-picture {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  margin-bottom: 21px;
  img {
    width: 100%;
  }
}
.products__item-cost {
  display: block;
  margin-bottom: 26px;
  @include font-sans-bold(17px, 24px, #444);
  text-align: center;
}
.products__item-price {
  order: 5;
}
@media #{$tablet-widths} {
  .products__header  {
    position: relative;
    padding: 154px 0 94px;
    min-height: 743px;
    background: #f9f9f9 url("../img/hero-desktop@1x.jpg") no-repeat 50% 0;
    @media #{$retina} {
      background: #f9f9f9 url("../img/hero-desktop@2x.jpg") no-repeat 50% 0;
      background-size: 1150px auto;
    }
    &::after {
      @include ps-el(100%, 24px);
      bottom: -13px;
      left: 0;
      background: transparent url("../img/bg-zigzag-fill.svg") repeat-x 0 1px;
      background-size: auto 23px;
    }
  }
  .products__title {
    width: auto;
  }
  .products__item-wrapper {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .products__item {
    position: relative;
    padding: 48px 6.51%;
    &::after {
      @include ps-el(100%, 15px);
      bottom: 4px;
      left: 0;
      background: transparent url("../img/bg-zigzag-line.svg") repeat-x 50% 50%;
      background-size: auto 15px;
      transform: rotate(180deg);
    }
    &--best {
      .products__item-name {
        padding-right: 120px;
        &::after {
          width: 85px;
          top: 12px;
          left: auto;
          right: 20px;
          text-align: center;
        }
      }
    }
  }
  .products__item-text {
    width: 44%;
    min-height: 438px;
  }
  .products__item-price {
    position: absolute;
    width: 292px;
    margin-left: 0;
    bottom: 73px;
    left: 6.51%;
  }
  .products__item-picture {
    padding-top: 9px;
    margin: 0;
    margin-bottom: 21px;
    width: 50%;
    max-width: inherit;
    order: 3;
  }
  .products__item-properties {
    margin-left: -4px;
    margin-bottom: 192px;
    li {
      &:first-child {
        width: 33.448%;
      }
    }
  }
  .products__item-cost {
    margin-bottom: 34px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
  .products__item-info {
    position: absolute;
    width: 128px;
    top: 60px;
    right: 6.51%;
    text-align: center;
  }
  .products__item-name {
    margin-bottom: 48px;
    width: 100%;
    &:first-letter {
      margin-left: -5px;
    }
    font-weight: normal;
  }
  .products__item-describe {
    margin-bottom: 37px;
    margin-left: -4px;
    @include font-sans(17px, 30px);
  }
  .products__links {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 100%;
    padding: 0 6.51%;
    margin-top: -116px;
    font-size: 0;
  }
  .products__link {
    width: 50%;
    padding: 27px 5.239% 29px 5.239%;
    span {
      @include ib();
      width: 150px;
      @include font-sans-bold(20px, 30px, #fff);
    }
    &:nth-child(-n+2):hover {
      padding: 27px 5.239% 34px 5.239%;
    }
    &--toys {
      &::after {
        transform: translate(-3px, -48%);
      }
    }
  }
}
@media #{$desktop-widths} {
  .products {
    overflow: hidden;
  }
  .products__header {
    &::after {
      @include ps-el(100%, 36px);
      bottom: -20px;
      left: 0;
      background: transparent url("../img/bg-zigzag-fill.svg") repeat-x 0 1px;
      background-size: auto 34px;
    }
  }
  .products__item-wrapper {
    position: relative;
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 0 74px;
  }
  .products__item {
    position: relative;
    padding: 0;
    &::after {
      @include ps-el(100%, 25px);
      bottom: 2px;
      left: 0;
      background: transparent url("../img/bg-zigzag-line.svg") repeat-x 50% 50%;
      background-size: auto 23px;
    }
    &--best {
      .products__item-name {
        padding-right: 25.238%;
        padding-bottom: 16px;
        &::after {
          width: 85px;
          top: 15px;
          left: 3.809%;
          right: auto;
          text-align: center;
        }
      }
    }
  }
  .products__item-picture {
    padding-top: 0;
    order: 3;
  }
  .products__item-text {
    width: 45%;
    min-height: auto;
    padding: 158px 0 0 17%;
  }
  .products__item-describe {
    margin-bottom: 49px;
  }
  .products__item-info {
    position: absolute;
    width: 128px;
    top: 142px;
    left: 5.913%;
    text-align: center;
  }
  .products__item-properties {
    li {
      &:first-child {
        width: 33.448%;
      }
    }
  }
  .products__links {
    max-width: 1050px;
    padding: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .products__link {
    padding: 27px 3.609% 29px 3.609%;
    span {
      width: 150px;
    }
    &::after {
      position: absolute;
      top: 60px;
      right: 6.8%;
      transform: translate(0, -46%);
    }
    &--interior {
      &::after {
        background: transparent url("../img/icon-interior.svg") no-repeat right 0 top 0;
      }
    }
    &:nth-child(-n+2):hover {
      padding: 27px 3.609% 34px 3.609%;
    }
  }
  .products__item-name {
    top: 125px;
    padding-right: 25.238%;
    padding-left: 16.8%;
    margin-bottom: 16px;
  }
  .products__item-price {
    position: absolute;
    width: 292px;
    margin-left: 0;
    bottom: 98px;
    left: 17%;
    order: 2;
  }
}
